body {
  background-color: #fafbfc;
  font: 16px arial, serif;
}

h1 {
  font-size: 28px;
  font-family: serif;
}

div {
  /* border: 1px dotted #aaa; */
  margin: auto;
}

/* navigation */

.navbar {
  padding: 0px 0px 0px 16px;
  background-color: #1a1b1c;
  color: #fafafa;
}

.navbar > ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.navbar > ul > li {
  float: left;
  display: block;
  padding: 12px 16px 10px 16px;
}

/* content */

.quote {
  max-width: 800px;
  margin: auto;
  padding: 8px 0px 16px 0px;
}

.quote > .meta > div {
  display: inline-block;
}

.quote > .meta > .author {
  font-weight: bold;
  /* min-width: 96px; */
}

.quote > .meta > .date {
  color: #aaa;
  font-size: 75%;
}

.quote > .meta > .id {
  float: right;
  font-size: 75%;
}

.quote > .text {
  max-width: 760px;
  padding: 8px 0px;
}
